<md-toolbar color="primary">Barragem System</md-toolbar>
<br>
<md-card class="main-card">
    <md-card-header>
    Medição do Rio
    </md-card-header>

    <md-card-content class="card-content">
    6,19M
    </md-card-content>

    <br>
    <button (click)="inscricao()" md-raised-button color="primary">Inscrever-se para receber notificações</button>
    <button (click)="login()" md-raised-button color="primary">Efetuar Login</button>
</md-card>

<md-card class="main-card">
    <md-card-header>
    Comporta 1
    </md-card-header>

    <md-card-content class="card-content">
    Aberta
    </md-card-content>
</md-card>

<md-card class="main-card">
    <md-card-header>
    Comporta 2
    </md-card-header>

    <md-card-content class="card-content">
    Fechada
    </md-card-content>
</md-card>


<md-card class="main-card">
    <md-card-header>
    Comporta 3
    </md-card-header>

    <md-card-content class="card-content">
    Aberta
    </md-card-content>
</md-card>