<md-toolbar color="primary">Barragem System</md-toolbar>
<br>
<md-card class="main-card">
    <br>
    <button (click)="inscricao()" md-raised-button color="primary">Inscrever-se para receber notificações</button>
    <br>
    <br>
    <button (click)="login()" md-raised-button color="primary">Efetuar Login</button>
</md-card>


<md-card class="main-card">
    <md-card-title>Comporta 1</md-card-title>
    {{stBarragem01}}
</md-card>

<md-card class="main-card">
    <md-card-title>Comporta 2</md-card-title>
    {{stBarragem02}}
</md-card>

<md-card class="main-card">
    <md-card-title>Comporta 3</md-card-title>
    {{stBarragem03}}
</md-card>